* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

#grafic {
  @media (max-width: 768px) {
    width: 100%;
  }
}

.header {
  padding: 15px 0px;
  background-color: #00214a;

  &__descp {
    background: #fff;
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
  }

  &__link {
    text-decoration: none;
    color: #000;
    transition: 0.3s;
  }

  &__text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
  }

  &__text a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
}

.article {
  margin: 0px auto;
  // width: 70%;
}

#curve_chart {
  margin: 0px auto;
}

.grafik_content {
  padding: 15px;
}

.konwerter {
  padding: 10px;

  &__choose-walute,
  &__input-number {
    height: 70px;
    margin-bottom: 10px;
    padding: 15px 50px 15px 10px;
    box-sizing: border-box;
  }

  &__choose-walute {
    display: flex;
    align-items: center;
    background-color: aliceblue;
  }

  &__choose-walute:hover {
    border: 1px solid #000;
  }

  &__flag {
    margin-right: 10px;
  }
  
  &__flag-item {
    width: 2em !important;
    height: 30px !important;
  }

  &__walute {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 22px;
    font-weight: 500;

    span {
      margin-right: 10px;
    }
  }

  &__name-walute {
    width: 100%;
    padding: 10px 10px 10px 5px;
    border: 1px solid #000;
    font-size: 18px;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    right: 15px;
    transform: rotate(90deg);
  }

  &__input-number:hover {
    background-color: #cedfee;
  }

  &__input-number {
    transition: 0.3s;
    background-color: aliceblue;
  }

  &__input-value {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px;
    font-size: 22px;
    background-color: aliceblue;

    &:focus {
      outline: none;
    }

  }

  &__offen-used {
    margin-bottom: 25px;
  }

  &__offen-used span {
    margin-right: 10px;
    padding: 5px;
    border-radius: 35%;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    transition: 0.2s;
  }

  &__offen-used span:hover {
    background-color: #cedfee;
    color: #000;
  }

  &__calendar {
    font-size: 18px;

    label {
      margin-right: 10px;
    }

    input {
      padding: 7px;
    }
  }
}

.footer {
  background-color: aliceblue;

  &__content {
    padding: 12px;
    text-align: center;
  }

  &__link {
    margin-bottom: 0px;
  }

  a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

}