@import './../../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "/node_modules/flag-icons/css/flag-icons.min.css";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  padding: 15px 0px;
  background-color: #00214a;
}
.header__descp {
  background: #fff;
}
.header__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}
.header__link {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}
.header__text {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0px;
}
.header__text a {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.article {
  margin: 0px auto;
}

#curve_chart {
  margin: 0px auto;
}

.grafik_content {
  padding: 15px;
}

.konwerter {
  padding: 10px;
}
.konwerter__choose-walute, .konwerter__input-number {
  height: 70px;
  margin-bottom: 10px;
  padding: 15px 50px 15px 10px;
  box-sizing: border-box;
}
.konwerter__choose-walute {
  display: flex;
  align-items: center;
  background-color: aliceblue;
}
.konwerter__choose-walute:hover {
  border: 1px solid #000;
}
.konwerter__flag {
  margin-right: 10px;
}
.konwerter__flag-item {
  width: 2em !important;
  height: 30px !important;
}
.konwerter__walute {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 22px;
  font-weight: 500;
}
.konwerter__walute span {
  margin-right: 10px;
}
.konwerter__name-walute {
  width: 100%;
  padding: 10px 10px 10px 5px;
  border: 1px solid #000;
  font-size: 18px;
  cursor: pointer;
}
.konwerter__name-walute:focus-visible {
  outline: none;
}
.konwerter__arrow {
  position: absolute;
  z-index: 1;
  right: 15px;
  transform: rotate(90deg);
}
.konwerter__input-number:hover {
  background-color: #cedfee;
}
.konwerter__input-number {
  transition: 0.3s;
  background-color: aliceblue;
}
.konwerter__input-value {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 0px;
  font-size: 22px;
  background-color: aliceblue;
}
.konwerter__input-value:focus {
  outline: none;
}
.konwerter__offen-used {
  margin-bottom: 25px;
}
.konwerter__offen-used span {
  margin-right: 10px;
  padding: 5px;
  border-radius: 35%;
  font-size: 20px;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
}
.konwerter__offen-used span:hover {
  background-color: #cedfee;
  color: #000;
}
.konwerter__calendar {
  font-size: 18px;
}
.konwerter__calendar label {
  margin-right: 10px;
}
.konwerter__calendar input {
  padding: 7px;
}

.footer {
  background-color: aliceblue;
}
.footer__content {
  padding: 12px;
  text-align: center;
}
.footer__link {
  margin-bottom: 0px;
}
.footer a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}