* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  padding: 50px 0px 75px;
}
.header__title {
  font-size: 40px;
  line-height: 48px;
}
.header__text {
  font-size: 20px;
}
.header__text a {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.main .container {
  display: flex;
}

.article {
  width: 70%;
}

.aside {
  width: 30%;
}

.grafik_content {
  padding: 15px;
}

.konwerter {
  display: flex;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
}
.konwerter__left-section, .konwerter__right-section {
  width: 50%;
  padding: 0px 10px;
}
.konwerter__choose-walute, .konwerter__input-number {
  height: 70px;
  margin-bottom: 10px;
  padding: 15px 50px 15px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
.konwerter__choose-walute {
  display: flex;
  align-items: center;
}
.konwerter__choose-walute:hover {
  border: 1px solid #000;
}
.konwerter__flag {
  margin-right: 20px;
}
.konwerter__walute {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}
.konwerter__walute span {
  margin-right: 10px;
}
.konwerter__name-walute {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.konwerter__name-walute:focus {
  border: 1px solid #000;
  outline: none;
}
.konwerter__arrow {
  position: absolute;
  z-index: 1;
  right: 15px;
  transform: rotate(90deg);
}
.konwerter__input-number:hover {
  background-color: #cedfee;
}
.konwerter__input-number {
  transition: 0.3s;
  background-color: aliceblue;
}
.konwerter__input-value {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 0px;
  font-size: 22px;
  background-color: aliceblue;
}
.konwerter__input-value:focus {
  outline: none;
}
.konwerter__offen-used {
  margin-bottom: 25px;
}
.konwerter__offen-used span {
  margin-right: 25px;
  padding: 6px;
  border-radius: 35%;
  font-size: 22px;
  color: gray;
  cursor: pointer;
  transition: 0.2s;
}
.konwerter__offen-used span:hover {
  background-color: #cedfee;
  color: #000;
}
.konwerter__calendar {
  font-size: 18px;
}
.konwerter__calendar-inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.konwerter__choose-day {
  grid-column-start: 3;
}

.footer {
  background-color: aliceblue;
}
.footer__content {
  padding: 12px;
  text-align: center;
}
.footer a {
  font-size: 22px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}